:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  /* place-items: center; */
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}
h2 {
   display: flex;
   justify-content: flex-start;
    
}
.navTab{
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin-bottom: 20px;
}
button.active,
button:hover {
    background: #1976D2;
    color: aliceblue;
}
.description{
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
    padding: 20px;
    border-radius: 6px;
    text-align: start;
}
.state{
    display: flex;
    gap: 10px;
}
#useEffect img{
  width: 300px;
  border-radius: 8px;
}
/* styles.css */
.custom-input {
  padding: 0.5rem 0.75rem;         /* px-3 py-2 */
  border: 1px solid #D1D5DB;       /* border-gray-300 */
  border-radius: 0.375rem;         /* rounded-md */
  width: 300px;                     /* w-full */
  margin-bottom: 30px;
  outline: none;
  transition: border-color 0.2s ease, box-shadow 0.2s ease;
}

.custom-input:focus {
  border-color: transparent;        /* focus:border-transparent */
  box-shadow: 0 0 0 2px #3B82F6;    /* focus:ring-2 focus:ring-blue-500 */
}


@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
