h2 {
   display: flex;
   justify-content: flex-start;
    
}
.navTab{
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin-bottom: 20px;
}
button.active,
button:hover {
    background: #1976D2;
    color: aliceblue;
}
.description{
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
    padding: 20px;
    border-radius: 6px;
    text-align: start;
}
